{
  "presets": [
    "@babel/react",
    [
      "@babel/preset-env",
      {
        "targets": {
          "safari": "8"
        },
        "useBuiltIns": "entry",
        "include": [
          "transform-block-scoping"
        ]
      }
    ]
  ],
  "plugins": ["@babel/plugin-transform-block-scoping"]
}